@import "../shared/_variables.scss";

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EEE;
  font-family: 'Lato', sans-serif;
  transition: all 1s;
}