@import "../shared/_variables.scss";

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  //background: #429ca5;
  font-family: 'Lato', sans-serif;
  transition: all 1s;
  /*Gradient background*/
  background: linear-gradient(#26a69a, #cff09e, #fbffbf);
}