@import "../../shared/_variables.scss";

.transition{
    transition: all 1s;
}

.lamp {
    width: 480px;
    height: auto;
    @extend .transition;

    &.off {
        .cls-1 {
        fill:#148c9b;
        }
        .cls-2 {
            fill:#107b84;
        }
        .cls-3 {
            fill:#117f89;
        }
        .cls-4 {
            fill:#328f99;
        }
        .cls-5 {
            fill:#169688;
        }
        .cls-6 {
            fill:#107B84;
        }
        .cls-7 {
            fill:#328F99;
        }
        .cls-8 {
                fill: url(#linear-gradient);
                fill-opacity: 0;
        }
    }
    
    &.on {
        .cls-1 {
        fill:lighten(#148c9b, 10%);
        }
        .cls-2 {
            fill:lighten(#107b84, 5%);
        }
        .cls-3 {
            fill:lighten(#117f89, 10%);
        }
        .cls-4 {
            fill:lighten(#328f99, 10%);
        }
        .cls-5 {
            fill:lighten(#169688, 10%);
        }
        .cls-6 {
            &.hot {
                fill: #DB0022;
            }
            &.cold {
                fill: #0037DB;
            }
            fill:#f0ff99;
        }
        .cls-7 {
            &.hot {
                fill: #DB0022;
            }
            &.cold {
                fill: #0037DB;
            }
            fill:#fffc80;
        }
        .cls-8 {
            fill: url(#linear-gradient);
            fill-opacity: 1;
        }
    }

}